<div class="min-h-screen bg-gradient-to-r from-blue-50 to-blue-300 flex items-center justify-center p-4">
    <div class="bg-white rounded-lg shadow-xl w-full max-w-md overflow-hidden">
        <div class="flex border-b">
            <button [class]="isLogin ? 'bg-blue-400' : 'bg-white'"
                class="w-1/2 p-4 text-blue-600 font-semibold hover:bg-blue-50 transition" (click)="isLogin = true">
                Login
            </button>
            <button [class]="!isLogin ? 'bg-blue-400' : 'bg-white'"
                class="w-1/2 p-4 text-blue-600 font-semibold hover:bg-blue-50 transition" (click)="isLogin = false">
                Sign Up
            </button>
        </div>

        <div *ngIf="isLogin" class="p-8">
            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="space-y-6">
                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                    <input type="email" formControlName="email"
                        class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                        [class.border-red-500]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    <p *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                        class="text-red-500 text-xs mt-1">
                        Valid email required
                    </p>
                </div>

                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                    <input type="password" formControlName="password"
                        class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                        [class.border-red-500]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <p *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                        class="text-red-500 text-xs mt-1">
                        Password required
                    </p>
                </div>

                <button type="submit" [disabled]="!loginForm.valid" class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition
                   disabled:bg-blue-300 disabled:cursor-not-allowed">
                    Login
                </button>
            </form>
        </div>

        <div *ngIf="!isLogin" class="p-8">
            <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()" class="space-y-6">
                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                    <input type="text" formControlName="name"
                        class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                        [class.border-red-500]="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
                    <p *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched"
                        class="text-red-500 text-xs mt-1">
                        Name required
                    </p>
                </div>

                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                    <input type="email" formControlName="email"
                        class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                        [class.border-red-500]="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                    <p *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched"
                        class="text-red-500 text-xs mt-1">
                        Valid email required
                    </p>
                </div>
                <div class="flex gap-1">
                    <div>
                        <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                        <input type="password" formControlName="password"
                            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                            [class.border-red-500]="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                        <p *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched"
                            class="text-red-500 text-xs mt-1">
                            Password must be at least 8 characters
                        </p>
                    </div>
                    <div>
                        <label class="block text-gray-700 text-sm font-bold mb-2">Confirm Password</label>
                        <input type="password" formControlName="password"
                            class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                            [class.border-red-500]="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                        <p *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched"
                            class="text-red-500 text-xs mt-1">
                            Password must be at least 8 characters
                        </p>
                    </div>
                </div>

                <button type="submit" [disabled]="!signupForm.valid" class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition
                   disabled:bg-blue-300 disabled:cursor-not-allowed">
                    Sign Up
                </button>
            </form>
        </div>
    </div>
    <!-- <div class="bg-white rounded-lg shadow-xl w-full max-w-md overflow-hidden">
        <div  class="p-8">
            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="space-y-6">
                <div>
                    <p class="block text-gray-700 text-sm font-semibold mb-2 text-center">We send an otp to <b>shibilgmail.com</b> </p>
                </div>

                <div>
                    <label class="block text-gray-700 text-sm font-semibold mb-2">Enter <b>OTP</b> :</label>
                    <input type="password" formControlName="password"
                        class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                        [class.border-red-500]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <p *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                        class="text-red-500 text-xs mt-1">
                        Password required
                    </p>
                </div>

                <button type="submit" [disabled]="!loginForm.valid" class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition
                   disabled:bg-blue-300 disabled:cursor-not-allowed">
                    Submit
                </button>
            </form>
        </div>
    </div> -->
</div>